body{
    margin:0;
    box-sizing: border-box;

}
.book__contain{
    position: relative;
    top:100px;
}
.book__content-scoffee, .book__content-book, .book__content-clock{
    background-color: rgb(247,236,222);
    margin-bottom: 30px;
}
.row{
    margin-left:8px;
    margin-right:8px;
}
img{
    max-width:100%;
    height:auto;
}
.book__content-book{
    width:100%;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    padding-bottom: 20px;
}
.book__content-clock{
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.margin{
    margin: 20px 0;
}
.book__content-scoffee-footer {
    margin-top:20px;
}
.text{
    padding-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    float: left;
}
.form{
    font-size: 15px;
    border: 3px solid #d1d8e0; 
    border-radius: 5px;
    width: 90%;
    padding: 10px;
}
.center{
    text-align: center;
}
.content__margin-top{
    margin-top:-70px;
    margin-bottom: 130px;
}
.book__content-header{
    margin-bottom: 10px;
}
.header-scoffee{
    font-size:2.4rem;
}
.clock{
    padding-bottom:10px;
}
.clock-open{
    padding-top:20px;
}
.padding-book{
    padding-bottom: 20px;
}
.button-book{
    margin-left:8px;
    margin-right: -4px;
}
.button-book-b{
    display: inline-block;
    width:90%;
    padding: 0 20px;
    font-size: 18px;
    padding:10px;
    border: 0;
    color:#fff;
    background-color: #E57905;
    border-radius: 5px;
    margin:17px 10px 0 0;
}
.button-book-b:hover{
    background-color: rgb(10, 192, 10);
}
@media (min-width:975px) and (max-width:1240px){
    .content__margin-top{
        margin-top:-155px;
    }
}
@media (min-width:740px) and (max-width:974px) {
    .content__margin-top{
        margin-top:-225px;
    }
}
@media(max-width:739px) {
    .book__content-scoffee{
        margin-top:-27px;
    }
    .header-scoffee{
        display: none;
    }
    .content__margin-top{
        margin-top:-10px;
    }
}
