
.row{
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(78,60,46);   
    line-height: 2;
}
.row .img img{
    margin-top: 100px;
    max-width: 100%;
}
img{
    border-radius: 15px;
}
.container-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.container{
    margin-bottom: 80px;
}
.infor-us{
    max-width: 40%;
}
.intro-content h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.customer-infor{
    max-width: 40%;
    text-align: justify;
}
.recruit-infor{
    max-width: 35%;
    text-align: justify;
}
.recruit-infor .img3{
    width: 100%;
}
.recruit-infor .img3{
    max-width: 100%;
}
.intro-content .intro-h{
    font-family: "Baron Neue";
}
.subtitle{
    color: #febf3e;
    font-family: 'Baron Neue';
    font-size: 35px;
}
.sub-title p{
    color: #fff;
}
.sub-title p:nth-child(1){
    color: #febf3e;
    font-style: italic;
    font-size: 30px;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question h1{
    color: #febf3e;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    text-align: justify;
    margin: 0 auto;
}
.question img{
    width: 60%;
    margin: 20px 0;
}
.answer p{
    color: #fff;
}
.more p a{
    color: #febf3e;
    font-size: 20px;
}
.infor-us .next p{
    margin-top: 40px;
}
.infor-us .next p a{
    max-width: max-content;
    padding: 15px 30px;
    font-size: 20px;
    border: 1px solid #febf3e ;
    border-radius: 12px;
}
.infor-us .next p a{
    color: #fff;
}
.infor-us .next p a:hover{
    background-color: #febf3e;   
    color: rgb(83, 59, 41);
}
.more{
    margin-top: 20px;
}
/* TABLET : width < 1180px */
@media screen and (max-width:1180px) and (min-width: 820px) {
    .row{
        line-height: 1.8;
    }
    .intro-content h1{
        font-size: 30px;
    }
    .img3{
        width: 40%;
    }
    .img3 img{
        max-width: 100%;
    }

    .question{
        max-width: 85%;
    }
    .question img{
        width: 100%;
    }
}
/* Mobile : 701px < width < 820px */
@media screen and (max-width: 819px) and (min-width:701px) {
    .row{
        line-height: 1.5;
    }
    .container-block{
        justify-content: center;
    }
    .infor-us{
        margin-right: 80px;
    }
    .img1{
        width: 30%;
    }
    .img1 img{
        max-width: 100%;
    }
    .img2{
        width: 30%;
    }
    .img2 img{
        max-width: 100%;
    }
    .intro-content h1{
        font-size: 25px;
    }
    .customer-infor{
        margin-left: 80px;
    }    
    .recruit-infor{
        margin-right: 40px;
    }
    .img3{
        width: 40%;
    }
    .img3 img{
        max-width: 100%;
    }
    .question{
        max-width: 85%;
    }
    .question img{
        width: 100%;
    }

}
/* MOBILE: width < 700px */
@media screen and (max-width: 700px) {
    .row{
        line-height: 1.5;
    }
    .container-block{
        justify-content: center;
        flex-direction: column;
    }
    .subtitle{
        font-size: 20px;
    }
    .sub-title p:nth-child(1){
        font-size: 15px;
    }
    .next p{
        margin-bottom: 50px;
    }
    .infor-us{
        max-width: 70%;
        margin-right: 0px;
    }
    .img1{
        width: 50%;
    }
    .img1 img{
        max-width: 100%;
    }
    .img2{
        width: 50%;
        order: 1;
    }
    .img2 img{
        max-width: 100%;
    }
    .intro-content h1{
        font-size: 20px;
    }
    .customer-infor{
        max-width: 70%;
        margin-left: 0px;
    }    
    .recruit-infor{
        max-width: 70%;
        margin-right: 0px;
    }
    .img3{
        width: 80%;
    }
    .img3 img{
        max-width: 100%;
    }
    .question{
        max-width: 85%;
    }
    .question img{
        width: 100%;
    }
    .infor-us .next p a{
        max-width: max-content;
        padding: 10px 15px;
        font-size: 15px;
        border: 1px solid #febf3e ;
        border-radius: 12px;
    }
}