
.row{
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(78,60,46);   
    line-height: 2;
}
.content{
    max-width: 1400px;
}
.row .img img{
    margin-top: 100px;
    max-width: 100%;
}
img{
    border-radius: 15px;
}
.container-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container:nth-child(3){
    margin-bottom: 50px;
}
.infor-us{
    max-width: 40%;
    margin-right: 150px;
}
.intro-content h1{
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
}
.customer-infor{
    max-width: 40%;
    text-align: justify;
    margin-left: 150px;
}
.recruit-infor{
    max-width: 40%;
    margin-right: 30px;
    text-align: justify;
}
.intro-content .intro-h{
    font-family: "Baron Neue";
}
.subtitle{
    color: #febf3e;
    font-family: 'Baron Neue';
    font-size: 35px;
}
.sub-title p{
    color: #fff;
}
.sub-title p:nth-child(1){
    color: #febf3e;
    font-style: italic;
    font-size: 30px;
}
.last{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question h1{
    color: #febf3e;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    text-align: justify;
    margin: 0 auto;
}
.question img{
    width: 60%;
    margin: 20px 0;
}
.answer p{
    color: #fff;
}
.end-content h1{
    color: #fff;
    margin-top: 10px;
}
.more p a{
    color: #febf3e;
    font-size: 20px;
}
.infor-us .next p{
    margin-top: 40px;
}
.infor-us .next p a{
    max-width: max-content;
    padding: 15px 30px;
    font-size: 20px;
    border: 1px solid #febf3e ;
    border-radius: 12px;
}
.infor-us .next p a{
    color: #fff;
}
.infor-us .next p a:hover{
    background-color: #febf3e;   
    color: rgb(83, 59, 41);
}
.more{
    margin-top: 20px;
}
