/* BREAK POINT*/
    
.header{
    top:0;
    height:58px;
    width:100%;
    background:rgb(165, 42, 42);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 9999;
}
.header__navbar-pc{
    position:fixed;
    margin: 0;
}
.header__navbar-list{
    list-style-type: none;
    display: flex;
    margin:0;
}
.header__navbar-item{
    position: relative;
    flex:1;
    font-family: "Monaco", sans-serif;
}
.header__navbar-item, .header__navbar-item-link {
    color:aliceblue;
    font-weight: 600;
}
a.header__navbar-item-link{
    text-shadow: 1px 1px 2px rgb(92, 8, 8);
    display: block;
    text-decoration: none;
    font-family: 'Monaco', sans-serif;
    font-size: 1.2rem;
    width: 140px;
    padding: 18px;
    text-align: center;
    margin:0 30px;
}
.header__navbar-list .header__navbar-item:hover >a{
    background-color: rgb(94, 8, 8);
    transition: 0.3s all;
}
.active__navbar{
    background-color: rgb(94, 8, 8) ;
}
.header__nav-scoffee{
    position: relative;
    z-index: 10000;
    color: #fff;
    font-family: 'Baron Neue';
}

/* SUB NAV */
.sub-nav{
    display: none;
    position: absolute;
    min-width: 170px;
    background-color: rgb(94, 8, 8);
    box-shadow: 0 0 1rem rgba(27, 27, 27, 0.83);
    left: 30px;
}
.sub-nav .sub-nav-list{
    list-style-type: none;
    padding: 10px 0;
}
.header__navbar-list li:hover .sub-nav{
    display: block;
}
.header__navbar-item .sub-nav li:hover{
    background:rgba(165, 42, 42, 0.97);
}
.sub-nav .sub-nav-list a{
    display: inline-block;
    min-width: 170px;
    text-transform: capitalize;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.5;
    font-size: 18px;
    color: #fff;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/*MOBILE & TABLET__NAV*/
.nav__bar-btn {
    font-size: 40px;
    position:fixed;
    left: 15px;
    display: none;
    top:8px;
}
.nav__overlay{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0,0 ,0.3);
    animation: fadeIn linear 0.2s;
}
.header__nav-scoffee{
    display: block;
    text-align: center;
    text-shadow: 4px 4px 5px rgb(92, 8, 8);
    padding:13px 0;
    padding-top: 10px;
    font-size:1.9rem;
    margin-right: 60px;
}
.header__navbar-mobile{
    position: fixed;
    left: 0;
    top:0;
    bottom: 0;
    background-color: #fff;
    z-index: 99999;
    width:300px;
    max-width:100%;
    transform: translateX(-100%);
    transition: transform linear 0.2s, opacity linear 0.2s;
    }
    .header__navbar-mobile-list{
        list-style-type: none;
    }
    .header__navbar-mobile-item{
        margin-top:40px;
    }
    .header__navbar-mobile-item-link{
        font-family: 'SF Pro Text', sans-serif;
        text-decoration: none;
        font-weight: 600;
        color:#000;
        line-height: 22px;
        display: block;
        padding:17px 16px;
        font-size:15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    }
    .header__navbar-mobile-item-link:hover{
        background:rgba(0, 0, 0, 0.03);
    }
    .nav__mobile-closed{
        position: absolute;
        top: 1rem;
        left:1rem;
        width:20px;
        height:20px;
    }
    .nav-input:checked~.nav__overlay{
        display: block;
    }
    .nav-input:checked~.header__navbar-mobile{
        transform: translateX(0%);
    }
    @keyframes fadeIn {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
/* PC */
@media screen and (min-width:1025px) {
    div.header__nav-scoffee{
        margin-left: 8%;
    }
    div.header__nav-scoffee.mobile{
        display: none;
    }
}
/*TABLET & MOBILE*/
@media(max-width:1024px) {
    a.header__navbar-item-link{
        visibility: hidden;
    }
    .header__nav-scoffee.pc-tablet{
        display: none;
    }
    div.header__nav-scoffee.mobile{
        display: block;
        text-align: center;
        position: absolute;
        text-shadow: 4px 4px 5px rgb(92, 8, 8);
        padding: 0;
        margin-right: 0px;
    }
    div.header__nav-scoffee.mobile{
        font-family: 'Baron Neue';
    }
    div.header__nav-scoffee.mobile a{
        color: #fff;
    }
    .nav__bar-btn{
        display: inline-block;
    }
    #search{
        display: none;
    }
    .header__navbar-list li:hover .sub-nav{
        display: none;
    }
}
/*TABLET*/
@media(max-width:1024px) and(min-width:740px) {
    .wide{
        width:644px;
    }
}
